.home {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;

  .left-bar {
    flex-basis: 25%;

    position: sticky;
    top: 70px;
    align-self: flex-start;
  }
  .main-content {
    flex-basis: 47%;
  }
  .right-bar {
    flex-basis: 25%;

    position: sticky;
    top: 70px;
    align-self: flex-start;
  }
}
